#container_table_OV{
    height: 35rem;
    overflow-y: scroll;
}
#container_table_OF_migrados{
    height: 20rem;
    overflow-y: scroll;
}
#container_table_OV::-webkit-scrollbar,#container_table_OF_migrados::-webkit-scrollbar {
    width: 6px; /* Ajusta el ancho de la barra de desplazamiento */
}
#container_table_OV::-webkit-scrollbar-track,#container_table_OF_migrados::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del fondo del track */
}
#container_table_OV::-webkit-scrollbar-thumb, #container_table_OF_migrados::-webkit-scrollbar-thumb {
    background: #acacac; /* Color del thumb */
    border-radius: 10px; /* Esquinas redondeadas */
}
#container_table_OV::-webkit-scrollbar-thumb:hover, #container_table_OF_migrados::-webkit-scrollbar-thumb:hover {
    background: #8f8f8f; /* Color al pasar el ratón por encima */
}
.table-partidas th , .table-partidas td {
    font-size: 10px; /* Establece el tamaño de la letra lo más pequeño posible */
    border-collapse: collapse; /* Opcional: Asegura que las celdas se colapsen */
    background: white;
}
#table_OF_migrados td{
    font-size: 12px;
    
}
#table_OV td{
    padding-left: 0;  /* Elimina padding izquierdo */
    padding-right: 0; /* Elimina padding derecho */
    padding-bottom: 5px;
    padding-top: 2px;
}
#table_OF_migrados th{
    font-size: 12px;
}
.btn-link {
    text-decoration: none; /* Elimina el subrayado */
    transform: scale(0.9);
    margin-top:0px;
}
.btn-link:hover {
    text-decoration: none; /* Elimina el subrayado */
    transform: scale(1);
}
.table-text-responsive th, .table-text-responsive td {
     font-size:small;
}
.modal-header-primary{
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7; 
}
/*.selected{
    background: blue;
}*/
